* {
  box-sizing: border-box;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  cursor: pointer;
}

.background_black {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

section {
}
